<!-- Titulo -->

<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container text-center py-5">
      <h1 class="text-white display-3 mb-5">Mapa De Zonas Con Mas Frecunecia De Siniestros</h1>
      <hr class="mb-5">
      <h4 class="text-white display-7 mb-5">El mapa muestra zonas con colores fuertes en diferentes lugares donde
        los siniestros de transito son mas comunes y zonas mas suaves en zonas con menos siniestros.
      </h4>
  </div>
  <div class="row justify-content-center align-items-center vh-100">
    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
    </div>

    <!--Google Maps-->
  </div>
</div>


